

@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');
*{  margin: 0;
padding: 0;
}
nav{
    background-color: brown;
    height:50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
    font-family:'Ancizar Sans','sans-serif';
    }
nav ul{
    list-style: none;
}

.game-container{

   
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}
.container1{
    display: grid;
     grid-template-rows: repeat(3,11vw);
    grid-template-columns: repeat(3,11vw);
    font-family:'Ancizar Sans','sans-serif';
    position: relative;

    
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: aqua;
}

.container2{
    padding: 0 34px;
    font-family:'Ancizar Sans','sans-serif';
}

.imgbox img{
    width:0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

.bdn{
    margin: 10px 23px;
    padding: 10px 10px;
    background-color: turquoise;
    cursor: pointer;
}

.info{
    font-size: 30px;
}

.line{
    background-color: rgb(148, 45, 87);
    width: 0;
    height: 2px;
    position: absolute;
    transition: width 1s ease-in;

}

@media screen and (max-width: 800px) {
.game-container{
    flex-wrap: wrap;
}

.container2{
    margin-top: 35px;;
}

.container2 h1{
    font-size: 1.5rem;
}

}